<div class="row">
  <div class="row center-align">
    <div class="col s4 m4">
      <input class="with-gap" name="group1" type="radio" id="test1" />
      <label for="test1">News</label>
    </div>
    <div class="col s4 m4">
      <input class="with-gap" name="group1" type="radio" id="test2" />
      <label for="test2">Images</label>
    </div>
    <div class="col s4 m4">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Whatever</label>
    </div>
  </div>
    <% @bookmarks.each do |bookmark|%>
      <div class="col s12 m4">
        <% if !bookmark.bookmark_types_id.nil? %>
          <div class="card indigo">
            <div class="card-image">
              <img class="responsive-img" src="<%= bookmark.image_url %>">
              <span class="card-title"><%= bookmark.title %></span>
            </div>
            <div class="card-action">
              <%= link_to "#{bookmark.content}", url_with_protocol(bookmark.url_origin), :target => '_blank' %>
            </div>
          </div>
        <% else %>
          <div class="card indigo">
            <div class="card-content white-text">
              <span class="card-title"><%= bookmark.title %></span>
              <p><%= bookmark.origin_title %></p>
              <div style="position: relative; height: 20px;">
                <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; right: 0px;top: 0px;">
                  <a class="btn-floating btn-large deep-purple accent-1">
                    <i class="large mdi-navigation-menu"></i>
                  </a>
                  <ul>
                    <li>
                      <a class="btn-floating indigo accent-1">
                        <i class="material-icons">mode_edit</i>
                      </a>
                    </li>
                    <li>
                      <a class="btn-floating indigo accent-1">
                        <i class="material-icons">format_quote</i>
                      </a>
                    </li>
                    <li>
                      <a class="btn-floating indigo accent-1">
                        <i class="material-icons">delete</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-action">
              <%= link_to "GO", url_with_protocol(bookmark.url_origin), :target => '_blank' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
